{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main heading -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Expense Tracker</h1>
            {% if user.is_authenticated %}
            <h2>Hello {{ user }}</h2>
            <h3>Add Expense</h3>
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" value="Add Expense" class="btn btn-danger">Add Expense</button>
            {% endif %}
        </div>
    </div>
</div>
    {% endblock %}